body {
    background-color: black;
}

* {
    color: white;
}

h1 {
    color: blue;
}

#Skillsets {
    color: red;
    font-size: x-large;
    font-weight: bold;
}

#bio {
        border-style: solid;
        border-color: blue;
        border-radius: 10px;
        padding: 10px;
}

#skill-list {
    border-style: double;
    border-color: red;
    border-radius: 10px;
    padding: 30px;
}

#biography {
    color: blue;
    font-weight: bold;
}