body {
    background-color: black;
}

* {
    color: white;
}

h1 {
    color: rgba(173, 190, 18, 0.842);
    border-style: solid;
    border-color: rgba(173, 190, 18, 0.842);
    width: fit-content;
    padding: 20px;
    border-radius: 40px;
}

p {
    flex-direction: row;
    width: 900px;
}

#intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#education {
    color: rgb(97, 172, 55);
    font-size: x-large;
    font-weight: bold;

}
#educationlist{
    border-style: solid;
    border-color: rgb(37, 160, 64);
    border-radius: 10px;
    padding: 30px;
    width: fit-content;
}

#Skillsets {
    color: red;
    font-size: x-large;
    font-weight: bold;
}

#bio {
        border-style: solid;
        border-color: blue;
        border-radius: 10px;
        padding: 20px;
        width: fit-content;
        flex: content;
        flex-direction: row;
        width: 1000px;
}

#skill-list {
    border-style: double;
    border-color: red;
    border-radius: 10px;
    padding: 30px;
    width: fit-content;
}

#biography {
    color: blue;
    font-weight: bold;
}